@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	h1{
		font-size: 64px;
		font-weight:700;
	}
	h2{
		font-size: 48px;
		font-weight:700
	}
	h3{
		font-size: 32px;
		font-weight:700
	}
	h4{
		font-size: 28px;
		font-weight:700
	}
	h5{
		font-size: 24px;
		font-weight:700
	}
	h6{
		font-size: 20px;
		font-weight:700
	}	
	p {
		font-size: 16px;
		line-height: 1.5;
	}
}

  @import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
